#modal{
    text-align: center;
    color: White;
    background-color: black;
    font-size: 25px;
    border: 5px solid black;
    background-color: black;
}
#title{
    color: white;
    font-size: 25px;
    margin: 10px;
}
#description{
    width: 400px;
    line-height: 3;
}